<div class="col-xs-12 col-md-8">
  <% if @blogs.present? %>
      <div class="widget-author  boxed  push-down-30 category-title">
        <h6> Category: <%= @category.name %> </h6>
      </div>
      <% @blogs.each do |post| %>
          <div class="boxed push-down-45"> <!-- sticky class for sticky post -->
            <%= render 'blogging/blogs/item', :post => post %>
          </div>
      <% end %>
  <% else %>
      No blog found of category <%= params[:id] %>
  <% end %>
</div>
<div class="col-xs-12 col-md-4">
  <%= render 'blogging/shared/sidebar' %>
</div>