<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Blog Posts</li>
    </ol>
    <%= render 'blogging/blog_admin/posts/form' %>
  </div>
</div>
